.code-toggle{
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    display: flex;
}

.code-toggle:before{
    content: "▼";
    display: flex;
    margin-right: 10px;
}

.code-toggle.collapsed{
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    display: flex;
}

.code-toggle.collapsed:before{
    content: "▶";
    display: flex;
    margin-right: 10px;
}
