/* define colors */
:root{
    --main-accent-color: #31b0d5;
    --secondary-color-1: #eef;
    --secondary-color-2: #cce;
    --secondary-color-3: #aad;
    --secondary-color-4: #88c;
    --main-background-color: #f4f0f460;
    --main-dark-color: #333;
}

/* rounded button */
.btn-pill {
    border-radius:23px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* fixed nav bar */
hr {
  margin-top: 30px;
  margin-bottom: 20px;
  border-width: 0;
}

.site-header {
    position:fixed;
    top: 0px;
    background-color: var(--main-background-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 5;
    border-bottom: 1px solid #e8e8e8;
    color: var(--main-dark-color);
}

a.navbar-brand, a.navbar-brand:hover, a.navbar-brand:focus, a.navbar-brand:active {
    text-decoration: none;
    color: var(--main-dark-color);
    font-size: 1.5rem;
}

.page-content {
    margin-top: 60px;
}
.site-nav {
    line-height:100%;
}

/* page nav animation on hover */
.navbar-nav .nav-link{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    color: var(--main-dark-color);
}

.navbar-nav .nav-link:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 95%;
    left: 0;
    right: 0;
    bottom: -5%;
    background: var(--main-dark-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.navbar-nav .nav-link:hover::before, .navbar-nav .nav-link:focus::before, .navbar-nav .nav-link:active::before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.svg-icon {
    padding-right:0;
}

/* main post page styling */
.post-meta {
    font-size:12px;
}

.post-list > li{
    margin-bottom: 0px;
}

.post-list > li > h3 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.post-list > hr {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Mathjax scroll equation */
mjx-container {
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
	padding:0.1rem 0.2rem;
}
span.MJXc-display{
	overflow-x: auto;
	overflow-y: hidden;
}

/* back to top button styling */
#back-to-top-button {
    display: none;
    position: fixed;
    font-size: 1.8em;
    bottom: 5%;
    right: 10%;
    z-index: 10;
    cursor: pointer;

    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;

    color: var(--main-dark-color);
    background-color: var(--main-background-color);
    border: 2px solid var(--main-dark-color); 
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

/* archive page styling */
ul.nav-pills > li {
    margin: 4px 2px;
}

/* color filter buttons */
.tag-button__count {
    display: inline;
    margin: 0 10px;
}

.btn-info{
    background: var(--main-accent-color);
}

.tag-btn--all:not(.btn-info) {
    background: var(--main-background-color);
}

.tag-btn-1:not(.btn-info) {
    background: var(--secondary-color-1);
}

.tag-btn-2:not(.btn-info) {
    background: var(--secondary-color-2);
}

.tag-btn-3:not(.btn-info) {
    background: var(--secondary-color-3);
}

.tag-btn-4:not(.btn-info) {
    background: var(--secondary-color-4);
}

/* hide not selected items in archive */
.d-none {
    display: none;
}

/* style archive list */
.item__meta {
    color: var(--main-accent-color);
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid var(--main-accent-color);
    font-size: 0.9em;
    font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
}

h2.article-list__group-header{
    color: var(--main-accent-color);
    font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
}

div.article-list section ul.items li{
    list-style-type: none;
}

.item__header {
    color: var(--main-dark-color);
    font-size: 1em;
    font-weight: bold;
}

a.item__header:visited {
    color: var(--main-dark-color);
}

/* about me listing style - PC*/
@media screen and (min-width: 768px){
    dt { 
        color: var(--main-accent-color);
        font-size: 1.2em;
        font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        text-align: right; 
        margin-top: 20px;
        padding: 0 20px 0 0; 
        width: 18%; 
        float: left; 
        height: 100px; 
        border-right: 1px solid var(--main-accent-color);  
    }

    dl + hr{
        border-top: 0px;
        float: none;
        clear: both;
        margin: 0;
        background-color: var(--main-background-color);
    }

    dd h3{
        margin-top: 15px;
        margin-bottom: 4px;
    }

    dd { 
        width: 78%;
        float: right; 
    }
}

/* about me listing style - Phone */
@media screen and (max-width: 768px){
    dt{
        color: var(--main-accent-color);
        font-size: 2em;
        font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        margin-top: 20px;
        border-top: 1px solid var(--main-accent-color);
        padding: 0 20px 0 0; 
    }

    dl + hr{
        border-top: 0px;
        background-color: var(--main-background-color);
    }

    dd h3{
        font-size: 1.6em;
    }
}



